::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background: #b7ff80;
    border-radius: 20px;
}
*{
    font-family: Montserrat;
    font-weight: 500;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 0);
}
#backdrop{
    position: fixed;
    background: rgb(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 199;
    display: none;
}
#hero{
    height: 98vh;
}
#hero-bg{
    width: 100%;
    height: 97vh;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-areas: 
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". td1 . . . . . . td4 ."
    ". . td2 . . . . . . td6"
    ". td5 . . . . . . td3 .";
    z-index: -100;
}
#td1{
    grid-area: td1;
    width: 100px;
}
#td2{
    grid-area: td2;
    width: 100px;
}
#td3{
    grid-area: td3;
    width: 100px;
}
#td4{
    grid-area: td4;
    width: 100px;
}
#td5{
    grid-area: td5;
    width: 100px;
}
#td6{
    grid-area: td6;
    width: 100px;
}
#bg-ghost{
    width: 150px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: pulse 3s infinite;
}
#schl-logo{
    width: 90px;
    margin: auto;
}
#society-logo{
    width: 100px;
    margin: auto;
}
#nav-logos{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
#navbar{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr repeat(2, 1fr);
}
#nav-link{
    text-decoration: none;
    margin: auto;
}
#nav-link-txt:hover{
    border-bottom: solid 3px #b7ff80;
}
#nav-link-txt{
    color: white;
    text-align: center;
    font-weight: 900;
}
#slogan{
    font-size: 45px;
    color: white;
    text-align: center;
    font-weight: 700;
    line-height: 55px;
}
#slogan *{
    font-weight: 700;
}
#slogan span{
    color: rgb(183, 255, 128);
}
#hero-content{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    animation: fadeSlideUp 1.5s ease-in-out forwards;
}
#call-to-action{
    color: white;
    border: none;
    outline: none;
    background: #8ec53f;
    padding: 12px 45px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 700;
}
.section{
    margin-bottom: 7vh;
}
#section-title{
    color: white;
    font-weight: 850;
    font-size: 40px;
    margin: 0px;
}
#st-underline{
    width: 100px;
    height: 10px;
    background: #b7ff80;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 30px;
    animation: underlineGrow 1.5s ease forwards;
}
.section-title-div{
    text-align: center;
}
#about-para{
    color: white;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
}
#project-cards{
    display: grid;
    width: 85%;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}
#project-card{
    width: 70%;
    height: 300px;
    background: rgb(16, 16, 16);
    margin: 0 auto;
    padding: 0px 20px;
    padding-top: 20px;
    text-align: center;
}
#project-title{
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0px 15px grey;
}
#project-img-div{
    width: 100%;
    height: 230px;
    background: rgb(22, 22, 22);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.486);
    display: grid;
}
#project-img-div img{
    margin: auto;
}
.project-img:nth-child(1), .project-img:nth-child(2), .project-img:nth-child(3), .project-img:nth-child(4){
    width: 170px;
}
#member-cards{
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-areas: 
    ". post1 ."
    "post2 post3 post4"
    "post5 post6 post7";
}
#member-card{
    text-align: center;
    margin: 0 auto;
}
#member-img{
    width: 150px;
}
#member-name{
    color: white;
    font-size: 17px;
    margin-bottom: 0px;
}
#member-post{
    margin-top: 5px;
    color: #b7ff80;
    font-size: 16px;
    font-weight: 300;
}
#member-card:nth-child(1){
    grid-area: post1;
}
#member-card:nth-child(2){
    grid-area: post2;
}
#member-card:nth-child(3){
    grid-area: post3;
}
#member-card:nth-child(4){
    grid-area: post4;
}
#member-card:nth-child(5){
    grid-area: post5;
}
#member-card:nth-child(6){
    grid-area: post6;
}
#member-card:nth-child(7){
    grid-area: post7;
}
#contact{
    display: grid;
    grid-template-columns: 1fr .7fr;
}
#contact-info-card{
    width: 80%;
    background: rgb(16, 16, 16);
    margin: 0 auto;
    padding: 15px;
    display: grid;
    max-height: 220px;
    height: 200px;
}
#contact-methods{
    margin-top: auto;
    margin-bottom: auto;
}
#contact-method{
    color: white;
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-bottom: 10px;
    margin-left: 20px;
}
#contact-method:nth-last-child(1){
    margin-bottom: 0px;
}
#cm-link{
    color: white;
    display: inline-block;
}
#cm-img{
    filter: invert(1);
    width: 25px;
    margin: auto 0;
    z-index: 1;
}
#cm-details{
    margin: auto 0;
    font-size: 15px;
}
#contact-img{
    filter: invert(1);
    margin: auto;
}
#contact-form{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    /* padding: 20px; */
    margin-bottom: 20px;
}
.contact-input{
    background: rgb(16, 16, 16);
    border: none;
    outline: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 80%;
    color: white;
    font-size: 13px;
}
#form-message {
    margin-top: 10px;
}
#c-msg{
    resize: none;
    height: 80px;
}
#c-submit{
    width: 150px;
    padding: 10px;
    font-size: 13px;
    background: rgb(16, 16, 16);
    color: white;
    border: none;
}
#footer{
    color: white;
    text-align: center;
    margin-top: -3vh;
}
#side-nav{
    z-index: 100;
    position: fixed;
    display: grid;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: rgba(44, 44, 44, 0.863);
    display: none;
}
#side-nav-elems{
    margin: auto;
    display: grid;
    grid-gap: 10px;
}
#snav-link{
    text-decoration: none;
    margin: auto;
}
#snav-link-txt:hover{
    border-bottom: solid 3px #b7ff80;
}
#snav-link-txt{
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    font-weight: 600;
}
#hamburger{
    display: none;
    z-index: 101;
}
#hm-line1, #hm-line2, #hm-line3{
    width: 35px;
    height: 5px;
    background-color: white;
    margin-bottom: 5px;
}
#hm-line3{
    margin-bottom: 0px;
}
#update-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 0 auto;
    grid-row-gap: 25px;
}
#update-card{
    background: rgb(16, 16, 16);
    color: white;
    width: 80%;
    padding: 15px;
    margin: 0 auto;
    border: solid 3px rgb(16, 16, 16);
    transition: .3s;
}
#update-card:hover{
    border: solid 3px #b7ff80;
    border-radius: 10px;
}
#update-img{
    /* width: 320px; */
    width: 100%;
    height: 175px;
}
#update-date{
    color: rgb(200, 200, 200);
}
#see-more-updates{
    width: 150px;
    padding: 10px;
    font-size: 14px;
    border: none;
    margin: 0 auto;
    margin-top: 20px;
    display: none;
    background: #6aaa11;
    color: white;
    cursor: pointer;
    transition: .3s;
}
#see-more-updates:hover{
    border-radius: 7px;
    transform: translateY(-5px);
}
#update-popup{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    z-index: 200;
    display: none;
}
#update-popup-box{
    background: rgb(24, 24, 24);
    color: white;
    width: 70%;
    padding: 25px;
    margin: auto;
    scale: 1 1;
}
#popup-content{
    line-height: 25px;
}
#popup-content a{
    color: #b7ff80;
    transition: .2s;
}
#popup-content a:hover{
    color: rgb(24, 24, 24);
    background: #b7ff80;
    border-radius: 100px;
    padding: 0px 10px;
}
#popup-title{
    margin: 0px;
}
#popup-head{
    display: grid;
    grid-template-columns: 1fr 60px;
    margin-bottom: 30px;
}
#pc-line, #sm-pc-line{
    width: 15px;
    height: 3px;
    background: white;
    position: absolute;
}
#popup-close, #sm-close{
    display: grid;
    margin: auto;
    cursor: pointer;
}
#pc-line:nth-child(1), #sm-pc-line:nth-child(1){
    transform: rotate(45deg);
}
#pc-line:nth-child(2), #sm-pc-line:nth-child(2){
    transform: rotate(-45deg);
}
.popup-visibility{
    display: none;
}
#sm-updates{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 199;
}
#sm-updates-box{
    display: grid;
    width: 90%;
    height: 92vh;
    margin: auto;
    background: rgb(24, 24, 24);
    overflow-y: auto;
    border-radius: 10px;
}
#sm-updates-box-inner{
    margin: 0 auto;
    width: 96%;
    text-align: center;
}
#sm-update-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    margin-top: 20px;
    grid-gap: 20px;
}
#sm-update-card{
    display: grid;
    height: 290px;
    margin: 0 auto;
    transition: .3s;
    padding: 20px 7px;
    background: rgb(15, 15, 15);
    border: solid 3px rgb(15, 15, 15);
    font-family: montserrat;
}
#sm-update-card:hover{
    border: solid 3px #b7ff80;
    border-radius: 10px;
}
#sm-update-card:nth-last-child(1){
    margin-bottom: 25px;
}
#sm-update-img{
    width: 95%;
    margin: 0 auto;
}
#sm-update-title{
    color: white;
    margin: 5px;
    margin-top: 10px;
}
#sm-update-date{
    color: rgb(200, 200, 200);
    margin: 5px;
}
#sm-close{
    position: fixed;
    top: 30px;
    right: 40px;
    z-index: 200;
    cursor: pointer;
}
#sm-pc-line{
    width: 30px;
}
#update-search{
    display: inline-grid;
    grid-template-columns: 400px 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#update-search-input{
    width: 95%;
    height: 30px;
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: solid 2px rgb(104, 104, 104);
    background: none;
    padding: 7px;
    margin: auto auto;
    transition: .2s;
    color: white;
}
#update-search-input:focus{
    border-bottom: solid 2px #b7ff80;
}
#update-search-btn{
    display: grid;
    margin: auto auto;
    background: rgb(49, 49, 49);
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: .2s;
}
#update-search-btn:hover{
    background: rgb(71, 71, 71);
}
#update-search-icon{
    width: 27px;
    margin: auto auto;
    filter: invert(1);
}
#no-updates{
    color: white;
    grid-column: span 3;
    display: none;
}

@keyframes scaleUp{
    0%{
        scale: 0;
    }
}
@keyframes scaleDown{
    100%{
        scale: 0;
    }
}
@keyframes pulse {
    0%, 100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 0.8;
    }
}
@keyframes rotate45 {
    100%{
        transform: rotate(45deg);
    }
}
@keyframes rotateM45 {
    100%{
        transform: rotate(-45deg);
    }
}
@keyframes rotate0{
    100%{
        transform: rotate(0deg);
    }
}
@keyframes ty0{
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes navOpen{
    0%{
        transform: translateX(-100%);
    }
}
@keyframes navClose{
    100%{
        transform: translateX(-100%);
    }
}

@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
@keyframes underlineGrow {
    0% {
        width: 0;
    }
    100% {
        width: 100px;
    }
}
@keyframes slide-in-left{
    0%{
        opacity: 0%;
        transform: translateX(-100%);
    }
}
@keyframes slide-out-left{
    100%{
        opacity: 0%;
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 1300px) {
    #project-card{
        width: 75%;
    }
    #project-cards{
        width: 90%;
    }
}
@media screen and (max-width: 1250px) {
    #update-cards{
        width: 99%;
    }
}
@media screen and (max-width: 1150px){
    #project-cards{
        width: 100%;
    }
    #update-card{
        width: 85%;
    }
}
@media screen and (max-width: 1050px) {
    #update-card{
        width: 84%;
    }
}
@media screen and (max-width: 1010px) {
    #project-cards{
        width: 85%;
        grid-template-columns: repeat(3,1fr);
    }
    #project-card{
        margin-bottom: 15px;
        width: 75%;
    }
}
@media screen and (max-width: 950px){
    #update-cards{
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }
    #update-card:nth-last-child(1){
        grid-column: span 2;
        width: 42%;
    }
}
@media screen and (max-width: 900px) {
    #project-card{
        width: 75%;
    } 
    #project-cards{
        width: 95%;
    }
}
@media screen and (max-width: 850px) {
    #hero-bg{
        display: none;
    }
    #contact{
        grid-template-columns: 1fr 1fr;
    }
    .contact-input{
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    #project-cards{
        width: 70%;
        grid-template-columns: repeat(2, 1fr);
    }
    #contact{
        grid-template-columns: 1fr;
    }
    .contact-input{
        width: 70%;
    }
    #contact-img-div{
        display: none;
    }
    #contact-info-card{
        width: 50%;
    }
    #update-cards{
        width: 99%;
    }
}
@media screen and (max-width: 750px){
    #project-cards{
        width: 80%;
    }
}
@media screen and (max-width: 700px){
    #member-cards{
        width: 95%;
    }
    #schl-logo{
        width: 80px;
    }
    #society-logo{
        width: 90px;
    }
    #update-cards{
        grid-template-columns: 1fr;
    }
    #update-card:nth-last-child(1){
        grid-column: span 1;
        width: 84%;
    }
}
@media screen and (max-width: 650px){
    #project-cards{
        width: 85%;
    }
    #slogan{
        font-size: 40px;
    }
}
@media screen and (max-width: 600px){
    #project-cards{
        width: 95%;
    }
    #member-cards{
        width: 100%;
    }
    #schl-logo{
        width: 70px;
    }
    #society-logo{
        width: 80px;
    }
    /* .contact-input{
        width: ;
    } */
}
@media screen and (max-width: 550px){
    #project-cards{
        width: 100%;
    }
    #member-cards{
        grid-template-areas: 
        "post1"
        "post2"
        "post3"
        "post4"
        "post5"
        "post6"
        "post7";
    }
    #contact-info-card{
        width: 70%;
    }
    .contact-input{
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    #project-cards{
        grid-template-columns: 1fr;
        width: 60%;
    }
}
@media screen and (max-width: 450px) {
    #project-card{
        width: 90%;
    }
    #slogan{
        font-size: 35px;
        line-height: 45px;
    }
    .nav-links{
        display: none;
    }
    #navbar{
        grid-template-columns: 60px 1fr;
        height: 80px;
    }
    #hamburger{
        display: block;
        margin: auto;
    }
    #contact-method{
        margin-left: 0px;
    }
}
